<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Vasudev Gupta</h2>
            <h4>vasugupta643@gmail.com</h4>
        </div>
        <img src="https://freight.cargo.site/w/450/i/9e4392f7f89ea6ec01658c3d12ad04baf8bd832cdc09f93e67477ad6b316cab4/DSC_0474-copy.JPG" alt="">
    </div>
    
    <mat-divider></mat-divider>
    
    <h2 matSubheader>Pages</h2>
    
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Todo List</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a>
    <mat-divider></mat-divider>
    
    <h2 matSubheader>Tools</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
       <mat-icon>import_contacts</mat-icon>
       contacts
    </a>

    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        leads
     </a> -->
</mat-nav-list>

